@inherits TestComponentBase

<SnapshotTest Description="HelloWorld component renders correctly">
    <TestInput>
        <Blazor.Server.Pages.HelloWorld />
    </TestInput>
    <ExpectedOutput>
        <h1>Hello world from Blazor</h1>
    </ExpectedOutput>
</SnapshotTest>